:root {
    --brand-color: #FFFFFF;
    --brand-color-footer: #2F303A;
    --barnd-color-aktyw: #2196F3;
    --barnd-color-border1: #ECECEC;
    --barnd-color-text: #212121;
    --barnd-color-border2: #EEEEEE;
    --brand-color-logo: #000000;
    --brand-color-data: #757575;
    --brand-color-btn: #F5F4FA;
    --brand-color-background-icon3: rgba(255, 255, 255, 0.1);
}
*,
*::after,
*::before {

    margin:0;
    padding:0;
}
body {
    color: var(--barnd-color-text);
    margin: 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    position: relative;
}
.navigation {
    display: flex;
    
}
.navigation__logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--barnd-color-aktyw);
    text-decoration: none;
    display: flex;
    margin-right: 93px;
}
.navigation__logo .navigation__color {
    color: var(--brand-color-logo);
}

.menu-navigation {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 46px 32px;
}

.menu-navigation__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--barnd-color-text);
    text-decoration: none;
   
}
.menu-navigation__link:hover{
    color:var(--barnd-color-aktyw);
}
.menu-navigation__link:active {
    color: var(--barnd-color-aktyw);
}
.header-contact {
    display: flex;
    gap: 50px 32px;
}
.header-contact__icon1 {
    margin-right: 10px;
    color: var(--barnd-color-data);
}

.header-contact__icon2 {
    margin-left: 30px;
    margin-right: 10px;
    color: var(--barnd-color-data);
}
.header-contact__link .header-contact__icon1 {
    fill: var(--brand-color-data);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact__link .header-contact__icon2 {
    fill: var(--brand-color-data);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--brand-color-data);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact__link:hover .header-contact__icon1 {
    fill: var(--barnd-color-aktyw);
}
.header-contact__link:hover .header-contact__icon2 {
    fill: var(--barnd-color-aktyw);
}
.header-contact__link:hover {
    color: var(--barnd-color-aktyw);
}
.header-contact {
    list-style-type: none;
}
.header-contact .header-contact__link:active {
    color: var(--barnd-color-aktyw);
}






.footer {
    background-color: var(--brand-color-footer);
}
.footer-body {
    display: flex;
  
}

.footer__logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--barnd-color-aktyw);
    text-decoration: none;
    display: flex;
    margin-top: 60px;
    margin-bottom: 20px;
    max-width: 145px;
}
.footer__logo .footer__color {
    color: var(--brand-color);
}
.footer__adress-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    max-width: 246px;
    margin-bottom: 9px;

}
.footer-contact {
    list-style-type: none;
    padding: 0;
    margin-bottom: 60px;
}
.footer-contact__link {
    margin-bottom: 9px;
}
.footer-contact__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    max-width: 231px;

}
.footer-contact__link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.footer-contact__link:hover,
.footer-contact__link:focus {
    color: var(--barnd-color-aktyw);
}
.footer-contact__link:active {
    color: var(--barnd-color-aktyw);
}

.footer-header {
    width: 113px;
    font-family: 'Roboto';
    font-style: bold;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03%;
    color: var(--brand-color);
    margin-top: 72px;
    margin-left: 70px;
    margin-bottom: 20px;
}
.footer-social {
    list-style-type: none;
    display: flex;
    margin-left: 60px;

}
.footer-social__box {
    max-width: 44px;
    height: 44px;
    background-color: var(--brand-color-background-icon3);
    border-radius: 50%;
    margin: 0 10px;
    padding: 12px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__icon {
    fill: var(--brand-color);
}
.footer-social__box:hover,
.footer-social__box:focus {
    background-color: var(--barnd-color-aktyw);
}

.footer-form {
    display: flex;
    width: 570px;
    height: 86px;
    margin-top: 72px;
    margin-left: 40px;
    border: none;
    justify-content: space-between;
}
.footer-form__label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand-color);
    width: 207px;
    height: 16px;
}
.footer-form__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    margin-top: 20px;
    background-color: transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
    
}
.footer-form__input:hover {
    border-color: var(--barnd-color-aktyw);
}
.footer-form__btn {
    display: flex;
    background-color: var(--barnd-color-aktyw);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--brand-color);
    align-self: center;
    padding-block: 10px;
    margin-bottom: -35px;
    padding-left: 42px;
    padding-right: 30px;
}
.footer-form__icon {
    fill: var(--brand-color);
    margin-left: 20px;
    margin-top: 5px;
} 
