.cards-whatwedo {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0;
}
.cards-whatwedo__box1 {
    width: 370px;
    height: 294px;
    background-image: url(../images/box1.jpg);
    position: relative;
    z-index: 1;
}
.cards-whatwedo__box2 {
    width: 370px;
    height: 294px;
    background-image: url(../images/box2.jpg);
    position: relative;
    z-index: 1;
}
.cards-whatwedo__box3 {
    width: 370px;
    height: 294px;
    background-image: url(../images/box3.jpg);
    position: relative;
    z-index: 1;
}
.cards-whatwedo__text {
    color: var(--brand-color);
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    z-index: 2;
}