.container {
    // max-width: 1200px;
    // width: 100%;
    // margin: 0 auto;
    // padding: 0 15px;

    @media screen and (min-width: 480px) {
        width: 480px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }
    @media screen and (min-width: 768px) {
        width: 768px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }
}