.footer-header {
    width: 113px;
    font-family: 'Roboto';
    font-style: bold;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    margin-top: 72px;
    margin-left: 70px;
    margin-bottom: 20px;
}