.footer-form {
    /* position: relative; */
    display: flex;
    width: 570px;
    height: 86px;
    margin-top: 72px;
    margin-left: 40px;
    border: none;
    justify-content: space-between;
}
.footer-form__label {
    /* position: absolute; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand-color);
    width: 207px;
    height: 16px;
}
.footer-form__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    margin-top: 20px;
    background-color: transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;

    &:hover {

        border-color: var(--brand-color-hover);
    }
    
}

.footer-form__btn {
    display: flex;
    /* margin-right: 50px; */
    background-color: var(--brand-color-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--brand-color);
    /* align-items: center; */
    align-self: center;
    padding-block: 10px;
    margin-bottom: -35px;
    padding-left: 42px;
    padding-right: 30px;
}
.footer-form__icon {
    /* position: absolute; */
    fill: var(--brand-color);
    /* top: 30px;
    right: 40px; */
    margin-left: 20px;
    margin-top: 5px;
} 