.footer-social {
    list-style-type: none;
    display: flex;
    margin-left: 60px;

}
.footer-social__box {
    max-width: 44px;
    height: 44px;
    background-color: var(--brand-color-background-icon3);
    border-radius: 50%;
    margin: 0 10px;
    padding: 12px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {

        background-color: var(--brand-color-hover);
    }
}

.footer-social__icon {
    fill: var(--brand-color);
}
