.footer__logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--brand-color-hover);
    text-decoration: none;
    display: flex;
    margin-top: 60px;
    margin-bottom: 20px;
    max-width: 145px;

}
.footer__logo  .footer__color {
    color: var(--brand-color);
}