.footer-adress__description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    max-width: 246px;
    margin-bottom: 9px;
    
}
.footer-contact {
    list-style-type: none;
    padding: 0;
    margin-bottom: 60px;
}
.footer-contact__item {
    margin-bottom: 9px;
}
.footer-contact__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    max-width: 231px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {

        color: var(--brand-color-hover);
    }

    &:active {

        color: var(--brand-color-hover);
    }
}
