.footer {
    background-color: var(--brand-color-footer);
}
.footer-body {
    display: block;
    // height: 603px;
}
@media screen and (min-width: 1200px) {
    .footer-body {
        display: flex;
    }
}