.header-contact {
    display: flex;
    gap: 50px 32px;
    list-style-type: none;
    @media screen and (max-width: 768px) {

        display: none;

    }
    @media screen and (min-width: 768px) {

        display: block;
        align-self: center;
        justify-content: center;
    }

    @media screen and (min-width: 1200px) {
        
        display: flex;
        gap: 50px 32px;
    }

}

// .header-contact__item {
//     margin-right: 15px;
//     margin-bottom: 10px;
// }
.header-contact__icon1 {
        margin-right: 10px;
        fill: var(--barnd-color-data);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        .header-contact__link:hover & {
            
            fill: var(--brand-color-hover);
        }

        @media screen and (min-width: 768px) {

            width: 14px;
            height: 10px;
        }

        @media screen and (min-width: 1200px) {

            width: 16px;
            height: 12px;
        }
}
    
.header-contact__icon2 {
        // margin-left: 10px;
        margin-right: 10px;
        fill: var(--barnd-color-data);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        .header-contact__link:hover & {
            
            fill: var(--brand-color-hover);
        }

        @media screen and (min-width: 768px) {

            width: 10px;
            height: 14px;
        }

        @media screen and (min-width: 1200px) {

            width: 10px;
            height: 16px;
        }
}
    
.header-contact__link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--barnd-color-data);
        text-decoration: none;
        
        &:hover {
            
            color: var(--brand-color-hover);
        }
        
        &:active {
            
            color: var(--brand-color-hover);
        }
        @media screen and (min-width: 1200px) {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
        }
}
    
    