.navigation__logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--brand-color-hover);
    text-decoration: none;
    display: flex;
    padding: 16px 0;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        padding: 26px 0;
        margin-right: 83px;
    }
    @media screen and (min-width: 1200px) {

        padding: 24px 0;
        margin-right: 93px;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
    }

}
.navigation__color {
    color: var(--brand-color-logo);
}