.section3 {
    background-color: var(--brand-color);
    padding-bottom: 94px;
}
.section3-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-color-text);
    /* max-width: 352px; */
    margin: 0 auto;
    padding-bottom: 50px;
}