.team-members {
    list-style-type: none;
    display: flex;
    padding: 0 auto;
    justify-content: space-between;
    gap: 30px;

}
.team-members > .team-members__item {
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 
                0 1px 1px 0 rgba(0, 0, 0, 0.14),
                0 1px 3px 0 rgba(0, 0, 0, 0.12);
}