:root {
    --brand-color: #FFFFFF;
    --brand-color-section1: #2F303A;
    --brand-color-section4: #F5F4FA;
    --brand-color-footer: #2F303A;
    --brand-color-hover: #2196F3;
    --brand-color-text: #212121;
    --brand-color-logo: #000000;
    --barnd-color-data: #757575;
    --brand-color-icon2: #AFB1B8;
    --brand-color-background-icon3: rgba(255, 255, 255, 0.1);
    --barnd-color-border1: #ECECEC;
    --barnd-color-border2: #EEEEEE;
}